<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Listado de Libros</h2>
        <ul id="books-list">
          <!-- Aquí se insertarán los libros dinámicamente -->
        </ul>
    </main>

    <%- include('../partials/footer')  %>


      
</body>



</html>