
<header>
        
    <section class="sec-header">
    
        <nav class="navbar-izquierda">
            <div>
                <a href="/home.html"><img src="images/logogalucohete.jpeg" alt="Logo" class="logo"></a>
            </div>
            <ul class="nav-links">
                <li><a href="/home.html">Inicio</a></li>
                <li><a href="/productos.html">Tienda</a></li>
                <li><a href="/ofertas.html">Ofertas</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="navbar-der">
            <nav class="usuario">
            <a href="/login.html">Login</a>
            <a href="/register.html">Registro</a>
            </nav>
            <div class="icon-redes">
                <a href="#"><img src="facebook.png" alt="Facebook"></a>
                <a href="#"><img src="instagram.png" alt="Instagram"></a>
                <a href="#"><img src="whatsapp.png" alt="WhatsApp"></a>
            </div>
        </div>
</header>