body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo del encabezado */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos del grupo de formularios */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilos de etiquetas */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilos de los campos de entrada */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos del botón de envío */
button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.home-button {
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.home-button:hover {
    background-color: #218838;
}