
<footer class="contenedor-footer">
    <section class="section-footer" >
        <div class="nav-footer" >
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">nosotros</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </div>
        <div class="redes" >
            <h1>REDES SOCIALES</h1>
            <h1></h1>
            <h1></h1>

        </div>

    </section>
</footer>